@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin: 0;
}
.dash-container{
    display: grid;
    border: 2px solid black;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
    height: 100vh;
}
/*grid classes*/
.master-grid-sidebar{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: 'Faustina', 'ariel';
    background-color: rgb(7, 152, 220);
}
.master-grid-top{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 3px solid black;
    background-color: #eee;
}
.master-grid-main{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 70px;
    grid-column-start: 2;
    grid-row-start: 2;
}
/*sidebar classes*/
.nav-titles{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:10px;
    color: antiquewhite;
    font-weight: 700;
    transition: transform 0.2s ease;
    will-change: transform;/*prevents shaky text on scale*/
}
.nav-titles:hover{
    transform: scale(1.1);
}
.nav-icons{
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-left: 25px;
    margin-right: 10px;
}
/*top bar classes*/
.icon-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
    gap: 20px;
    transition: transform 0.3s ease;
}
.top-icons{
    transition: transform 0.3s ease;
    will-change: transform;
}
.top-icons:hover{
    transform: scale(1.1);
}
.greeting{
    display: flex;
    margin-top: 15px;
    font-family: 'Faustina','ariel';
    align-items: center;
    font-weight: 600;
    width: auto;
    margin-left: 15px;
}
.user-actions-container{
    display: flex;
    margin-left: 650px;
}
.user-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(81, 196, 79);
    width: 90px;
    height: 40px;
    border-radius: 25px;
    gap: 10px;
    margin-left: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    will-change: transform;
}
.user-actions:hover{
    transform: scale(1.05);
    background-color: rgb(183, 183, 23);
    transform-origin: center;
}
/*projects classes*/
.project-grid{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
}
.projects{
    display: flex;
    flex-direction: column;
    border-left: 8px solid rgb(194, 124, 18);
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    font-family: 'Faustina','Ariel';
    font-weight: 500;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.project-title{
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Faustina','Ariel';
    font-weight: 700;
}
.projects:hover{
    transform: translatey(-3px);
}
/*announcements/trending classes*/
.announcements-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 5px;
    height: fit-content;
}
.announcements{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Faustina', 'ariel';
    font-weight: 600;
    width: 200px;
    height: 40px;
    border-bottom: 2px solid rgb(111, 111, 111);
}
/*main projects, announcements and trending area*/
#project-container{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 4px solid rgb(49, 48, 48);
    border-top-right-radius: 12px ;
    background-color: #eee;
}
#announcements{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3 ;
    grid-row-start: 1;
    grid-row-end: 3;
}
#announcements-title-container{
    display: flex;
}
#announcements-icon{
    width: 30px;
    margin-top: 20px;
    height: fit-content;
}
#trending{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3 ;
    grid-row-start: 3;
}
#trending-title{
    width: fit-content;
    height: fit-content;
}
#trending-title-container{
    display: flex;
}
#trending-icon{
    width: 30px;
    margin-top: 20px;
    height:fit-content;

}
#my-projects,#announcements-title,#trending-title{
    margin:20px;
    font-size: 20px;
    font-family: 'Faustina','ariel';
    font-weight: 700;
}
#my-projects{
    font-size: 30px;
    color: rgb(50, 49, 49);
    margin: 15px;
}
/*top bar*/
#search-icon{
    width: 25px;
    height: 25px;
    margin-left: 150px;
    margin-top: 5px;
}
#searchbar-icon{
    border: none;
    outline: none;
    text-align: center;
    width: 500px;
    height: 25px;
    margin-top: 3px;
    background-color: rgba(128, 128, 128, 0.259);
    border-radius: 10px;
}
#searchbar-icon:hover{
    transform: scaleX(1.05);
}
#notif-icon{
    width: 25px;
    margin-left:250px;
}
#dp-icon{
    width: 32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 15px;
    background-image: url('res/nature-7615535_640.jpg');
    background-size: cover;
}
#bottom-dp{
    width: 50px;
    height: 50px;
    background-size: cover;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 20px;
    background-image: url('res/nature-7615535_640.jpg');
    background-size: cover;
    transition: transform 0.8s ease;
}
#bottom-dp:hover{
    transform: rotatey(180deg);
}
#greeting-name{
    transition: transform 0.3s ease;
    will-change: transform;
}
#greeting-name:hover{
    transform: scale(1.05);
}
#top-name{
    margin-right: 10px;
    font-family: 'Faustina', 'Ariel';
    font-weight: 900;
    font-size: 20px;
}
#name{
    font-weight: 900;
    font-size: 25px;
}
/*side bar*/
#communities{
    margin-bottom: 85px;
}
#home-icon{
    background-size: cover;
    filter: invert(0.9);
}
#profile-icon{
    background-size: cover;
    filter: invert(0.9);
}
#messages-icon{
    background-size: cover;
    filter: invert(0.9);
}
#history-icon{
    background-size: cover;
    filter: invert(0.9);
}
#tasks-icon{
    background-size: cover;
    filter: invert(0.9);
}
#communities-icon{
    background-size: cover;
    filter: invert(0.9);
}
#settings-icon{
    background-size: cover;
    filter: invert(0.9);
}
#support-icon{
    background-size: cover;
    filter: invert(0.9);
}
#privacy-icon{
    background-size: cover;
    filter: invert(0.9);
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Faustina','ariel';
    font-weight: 700;
    width: 200px;
    margin: 30px;
    margin-left: 10px;
    text-align: center;
    color: antiquewhite;
    transition: transform 0.2s ease;
}
#title:hover{
    transform: translateX(5px);
}
#dash-icon{
    width: 45px;
    margin-right: 10px;
    margin-top: 5px;
    background-size: cover;
    filter: invert(0.9);
}